@use '@/app/assets/mixins' as mix;

/* color palette */
:root {
  --text-primary: #000000;
  --text-secondary: #b60a1c;
  --text-third: #9c9a9a;
  --text-disabled: #4c4e6461;
  --text-active: #e9e9e9;

  --background-main: #b60a1c;
  --background-secondary: #e9e9e9;
  --background-third: #000000;
  --background-active: #0062cc;

  --background-transparent-black02: rgba(0, 0, 0, 0.2);
  //custom-bg
  --custom-bg-secondary: #d1081c;

  // --info-main: #26c6f9;
  // --info-light: #40cdfa;
  // --info-dark: #21aedb;
  // --info-contained-hover: #1fa2cc;
  // --info-outlined-hover: #26c6f90d;
  // --info-outlined-resting: #26c6f980;

  // --error-main: #ff4d49;
  // --error-light: #ff625f;
  // --error-dark: #e04440;
  // --error-contained-hover: #d13f3c;
  // --error-outlined-hover: hwb(1 29% 0% / 0.051);
  // --error-outlined-resting: rgba(255, 77, 73, 0.502);

  // --success-main: #72e128;
  // --success-light: #83e542;
  // --success-dark: #64c623;
  // --success-contained-hover: #5db921;
  // --success-outlined-hover: #72e1280d;
  // --success-outlined-resting: #72e12880;

  //indexes
  --z-nav: 2;
  --z-header: 4;
  --z-cursor: 999;

  //shadows
  --bar-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  --cursor-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  //font
  --font-libre: 'Libre Baskerville';
}
// html[data-theme='light'] {
//   //skeleton
//   --skeleton: #f1f2f3;

//   //contrast
//   --contrast: #000000;

//   //gradients
//   --gradient-skeleton: linear-gradient(
//     100deg,
//     rgba(255, 255, 255, 0) 40%,
//     rgba(255, 255, 255, 0.5) 50%,
//     rgba(255, 255, 255, 0) 60%
//   );
//   //action
//   --action-disabled: #eaeaff42;
//   --action-disabled-bg: #eaeaff1f;
//   //typo
//   --text-primary: #4c4e64de;
//   --text-secondary: #4c4e64ad;
//   --text-disabled: #4c4e6461;

//   //other
//   --divider: #4c4e641f;
//   --outline-border: #4c4e6438;
//   --input-line: #4c4e6438;
//   --overlay: #4c4e6480;
//   --snackbar-bg: #212121;
//   --body-bg: #f7f7f9;
//   --card: #ffffff;
//   //custom-bg
//   --custom-bg-secondary: #f5f5f5;
// }

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Light.eot');
  src: url('fonts/DMMono-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMMono-Light.woff2') format('woff2'),
    url('fonts/DMMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Medium.eot');
  src: url('fonts/DMMono-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMMono-Medium.woff2') format('woff2'),
    url('fonts/DMMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Regular.eot');
  src: url('fonts/DMMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMMono-Regular.woff2') format('woff2'),
    url('fonts/DMMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('fonts/LibreBaskerville-Bold.eot');
  src: url('fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/LibreBaskerville-Bold.woff2') format('woff2'),
    url('fonts/LibreBaskerville-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('fonts/LibreBaskerville-Regular.eot');
  src: url('fonts/LibreBaskerville-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/LibreBaskerville-Regular.woff2') format('woff2'),
    url('fonts/LibreBaskerville-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--padding-topBar);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
a {
  //customCursor
  cursor: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
body {
  //customCursor
  cursor: none;
  color: var(--text-primary);
  background: var(--background-main);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'DM Mono';
  @include mix.body16Typo;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mix.scrollBar;
}

button {
  //customCursor
  cursor: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  //cursor: pointer;
}

::selection {
  color: white; /* цвет текста при выделении */
  background-color: black; /* цвет фона при выделении */
}
