@use '@/app/assets/mixins' as mix;

// /* pieChart.module.scss */
// .pieChartContainer {
//   margin: 0 auto;
//   position: relative;
//   display: flex;
//   max-width: 970px;
//   width: 100%;

//   justify-content: center;
//   align-items: center;
//   gap: 30px;
// }
// .chartContainer {
//   position: relative;
//   display: inline-block;
// }
// .circleContainer {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   overflow: hidden;
// }

// .segment {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   transform-origin: 100% 50%;
//   background-size: cover;
//   background-position: center;
//   transition: opacity 0.3s ease;
//   cursor: pointer;
// }

// .pieSlice {
//   // fill-opacity: 1;
//   animation-delay: 0.3s;
//   transition: all 0.8s ease;
//   fill: #ffff;

//   &:hover:global {
//     // animation: fadeOut 1s linear;
//     fill: url('#imagePattern') !important;
//     // // fill-opacity: 0;
//   }
// }

// .text {
//   display: flex;
//   justify-content: center;
//   flex: 1 0 0px;
//   white-space: pre-wrap;
// }
/* PieChart.module.scss */
/* PieChart.module.scss */
.pieChart {
  display: inline-block;
  position: relative;

  width: inherit;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  overflow: hidden;
}
.hidden {
  width: 100%;
  height: max-content;
  // display: none;
}

.segmentPattern {
  transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
  // filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 1));

  &:hover {
    opacity: 1;
  }
}
.piePart {
  // z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mix.transition;

  &:hover {
    stroke: transparent;
  }
}
// .segmentPattern {
//   transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
//   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 1));
// }

// .segment:hover {
//   opacity: 0.8;
// }
