@use '@/app/assets/mixins' as mix;

.pieChart {
  display: inline-block;
  position: relative;

  width: inherit;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  overflow: hidden;
}
.hidden {
  width: 100%;
  height: max-content;
  // display: none;
}

.segmentPattern {
  transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
  // filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 1));

  &:hover {
    opacity: 1;
  }
}
.piePart {
  // z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mix.transition;

  &:hover {
    stroke: transparent;
  }
}
// .segmentPattern {
//   transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
//   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 1));
// }

// .segment:hover {
//   opacity: 0.8;
// }
