@use '@/app/assets/mixins' as mix;

.embla {
  padding: 60px 0 0 0;
  max-width: 95%;
  margin: auto;

  --slide-height: 657px;
  --slide-spacing: 1rem;
  --slide-size: 20%;

  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 8.5%,
    rgb(0, 0, 0) 91.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.emblaViewport {
  width: inherit;
  overflow: hidden;
}
.emblaContainer {
  width: 100%;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.emblaSlide {
  position: relative;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  //margin-left: var(--slide-spacing);
}
.emblaSlideContent {
  position: relative;
  width: 100%;
  min-height: var(--slide-height);

  display: flex;
  flex-direction: column;

  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.226);
  overflow: hidden;
}
.emblaSlideImg {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;

  //min-height: var(--slide-height);
  height: var(--slide-height);
}
.emblaSlideInfo {
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 15px 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  background-color: var(--background-third);
  color: var(--text-secondary);

  text-transform: uppercase;
  @include mix.medium28Typo;
}
.emblaSpecialSlideInfo {
  width: 120%;

  left: -10%;
  top: 46%;

  // backdrop-filter: blur(10px);

  height: min-content;

  padding: 20px 0;
  transform: rotate(-10deg);

  text-transform: uppercase;
}
.emblaSlideName {
  width: 80%;
  overflow-wrap: break-word;
}
.emblaSlideRole {
  color: var(--text-active);

  text-transform: capitalize;
  font-family: var(--font-libre);
  @include mix.body20Typo;
}
.emblaSlideOverlay {
  position: absolute;
  left: 0px;
  top: 0px;

  min-height: var(--slide-height);
  width: 100%;

  backdrop-filter: blur(10px);
  box-sizing: border-box;

  cursor: none;
  display: block;
}

.emblaControls {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  // display: grid;
  // grid-template-columns: auto 1fr;
  // justify-content: space-between;
  // gap: 1.2rem;
  // margin-top: 1.8rem;
}
.emblaDots {
  display: flex;
  //  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  // padding: 10px;

  background-color: var(--background-transparent-black02);
  border-radius: 25px;
}
.emblaDot {
  position: relative;
  -webkit-tap-highlight-color: var(--background-main);
  -webkit-appearance: none;
  appearance: none;

  background-color: transparent;
  touch-action: manipulation;

  display: inline-flex;
  text-decoration: none;

  border: 0;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 30px;
  padding: 10px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:first-child {
    width: 25px;
    padding-left: 10px;
  }
  &:last-child {
    width: 25px;
    padding-right: 10px;
  }

  &::after {
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
    background-color: var(--background-main);
    opacity: 0.5;
  }
}
.emblaDotSelected {
  &::after {
    opacity: 1;
  }
}

@media screen and (max-width: 1599px) {
  .embla {
    --slide-size: 33.33%;
  }
}
@media screen and (max-width: 1199px) {
  .embla {
    --slide-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  .embla {
    --slide-height: 600px;
    --slide-size: 75%;
  }
}
@media screen and (max-width: 475px) {
  .embla {
    --slide-size: 90%;
  }
}
